# Ignore the Visual Studio and VS Code folders
.vs
.vscode

# Ignore objects and executables, compile on each client
*.obj
*.exe
*.out

# The textbook, which I want to store in this dir but don't want on GitHub
cs161.pdf

# Apple metadata
.DS_Store